#hero{
    background-image: url("../../images/mobile/image-header.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    padding: 5rem 0;
    width: 100%;

    overflow:auto;
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    text-align: center;

    height: 100%;
    max-width: 400px;
    width:95%;
}

.hero-heading{
    margin: 1em 0;
}

.down-arrow{
    width: 10%;
}


@media screen and (min-width:400px) {
    #hero{
        background-image: url("../../images/desktop/image-header.jpg");
    }
}

@media screen and (min-width:1000px) {
    #hero{
        background-position: center;
    }

    .hero-text{
        max-width: unset;
    }

    .down-arrow{
        max-width: 50px;
        width: 5%;
    }
    
}