$mdCyan: hsl(168, 34%, 41%);
$dkCyan: hsl(167, 40%, 24%);

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: hsl(168, 34%, 60%);
    padding: 4rem 0;
    height: 300px;
    width:100%;
}


svg path{
    fill:$dkCyan;
}

.link-container{
    display: flex;
    justify-content: space-between;
    width: 75%;

    &--social{
        width: 50%;
    }

}

.footer-link{
    color: $dkCyan;
    font-family: "Barlow", sans-serif;
}
