$yellow: hsl(51, 100%, 49%);
$red: hsl(7, 99%, 70%);
$dkBlue: hsl(212, 27%, 19%);
$dkCyan: hsl(167, 40%, 24%);
$blue: hsl(198, 62%, 26%);
$mdGray: hsl(232, 10%, 55%);

#features{
    width:100%;
}

#transform-img{
    background-image: url("../../images/mobile/image-transform.jpg");
    grid-area: transformImg;
}

#transform-text{
    grid-area: transformText;
}

#standout-img{
    background-image: url("../../images/mobile/image-stand-out.jpg");
    grid-area: standoutImg;
}

#standout-text{
    grid-area: standoutText;
}

#graphic-design-img{
    background-image: url("../../images/mobile/image-graphic-design.jpg");
    grid-area: graphicDesignImg;
}

#photography-img{
    background-image: url("../../images/mobile/image-photography.jpg");
    grid-area: photographyImg;
}


.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width:100%;

    position: relative;
    padding: 5em; 
    text-align: center;

    &--full{
        height:600px;
    }
}


.feature-text{
    color:$mdGray; 
    max-width: 500px;

    p{
        margin: 2em 0; 
    }

    span{
        position:relative;

        color:$dkBlue;
        font-size: 1em;
        letter-spacing: 1.25px;
        text-transform: uppercase;
    }

    span::after{
        position: absolute;
        bottom: -2px;
        left: 0; 
        right: 0;
        margin-left: auto;
        margin-right: auto;

        content:" ";
        display:block;
        border-radius: 5px;
        height: 10px;
        opacity: 0.2;
        width: 150px;
        z-index:-1;
    }

    &--absolute{
        position: absolute;
        top: 60%;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 95%;
    }

    &--green{
        color: $dkCyan;
    }

    &--blue{
        color: $blue;
    }
}

.learn{
    display:block !important;
    cursor: pointer;

    &--yellow::after{
        background-color: $yellow;
    }

    &--pink::after{
        background-color: $red;
    }
}

@media screen and (min-width:450px){
    #transform-img{
        background-image: url("../../images/desktop/image-transform.jpg");
    }
    
    #standout-img{
        background-image: url("../../images/desktop/image-stand-out.jpg");
    }
    
    #graphic-design-img{
        background-image: url("../../images/desktop/image-graphic-design.jpg");
    }
    
    #photography-img{
        background-image: url("../../images/desktop/image-photography.jpg");
    }
    
    .square{
        background-position: center;
    }

    .feature-text--absolute{
        top:55%;
    }
}


@media screen and (min-width:750px) {
    #features{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "transformText transformImg"
            "standoutImg standoutText"
            "graphicDesignImg photographyImg"
        ;
    }

    .square{
        text-align: left;

        &--full{
            text-align:center;
        }
    }

    .feature-text{
        span::after{
            right: unset;
            margin-left: 0;
            width: 125px;
        }

        &--absolute{
            top:65%;
        }
    }
}

