#features {
  width: 100%;
}

#transform-img {
  background-image: url("../../images/mobile/image-transform.jpg");
  grid-area: transformImg;
}

#transform-text {
  grid-area: transformText;
}

#standout-img {
  background-image: url("../../images/mobile/image-stand-out.jpg");
  grid-area: standoutImg;
}

#standout-text {
  grid-area: standoutText;
}

#graphic-design-img {
  background-image: url("../../images/mobile/image-graphic-design.jpg");
  grid-area: graphicDesignImg;
}

#photography-img {
  background-image: url("../../images/mobile/image-photography.jpg");
  grid-area: photographyImg;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 10rem 5rem;
  text-align: center;
}

.square--full {
  height: 600px;
}

.feature-text {
  color: #818498;
  max-width: 500px;
}

.feature-text p {
  margin: 2em 0;
}

.feature-text span {
  position: relative;
  color: #23303e;
  font-size: 1em;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.feature-text span::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: " ";
  display: block;
  border-radius: 5px;
  height: 10px;
  opacity: 0.2;
  width: 150px;
  z-index: -1;
}

.feature-text--absolute {
  position: absolute;
  top: 60%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 95%;
}

.feature-text--green {
  color: #25564b;
}

.feature-text--blue {
  color: #19536b;
}

.learn {
  display: block !important;
  cursor: pointer;
}

.learn--yellow::after {
  background-color: #fad400;
}

.learn--pink::after {
  background-color: #fe7867;
}

@media screen and (min-width: 768px) {
  #transform-img {
    background-image: url("../../images/desktop/image-transform.jpg");
  }
  #standout-img {
    background-image: url("../../images/desktop/image-stand-out.jpg");
  }
  #graphic-design-img {
    background-image: url("../../images/desktop/image-graphic-design.jpg");
  }
  #photography-img {
    background-image: url("../../images/desktop/image-photography.jpg");
  }
  .square {
    background-position: center;
  }
  .feature-text--absolute {
    top: 55%;
  }
}

@media screen and (min-width: 750px) {
  #features {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "transformText transformImg" "standoutImg standoutText" "graphicDesignImg photographyImg";
  }
  .square {
    text-align: left;
  }
  .square--full {
    text-align: center;
  }
  .feature-text span::after {
    right: unset;
    margin-left: 0;
    width: 125px;
  }
  .feature-text--absolute {
    top: 65%;
  }
}
/*# sourceMappingURL=Features.css.map */