$yellow: hsl(51, 100%, 49%);
$red: hsl(7, 99%, 70%);
$dkBlue: hsl(212, 27%, 19%);
$dkCyan: hsl(167, 40%, 24%);
$blue: hsl(198, 62%, 26%);
$mdGray: hsl(232, 10%, 55%);

.feature-img{
    display: flex;
    width: 100%;
}

.container{
    padding: 5rem 1rem; 
    text-align: center;

    &--full{
        position: relative;
        padding:0;
    }
}

.feature-text{
    margin: 0 auto;
    max-width: 500px;
    color:$mdGray;

    p{
        margin: 2rem 0; 
    }

    span{
        position:relative;

        color:$dkBlue;
        font-size: 1rem;
        letter-spacing: 1.25px;
        text-transform: uppercase;
    }

    span::after{
        position: absolute;
        bottom: -2px;
        left: 0; 
        right: 0;
        margin-left: auto;
        margin-right: auto;


        content:" ";
        display:block;
        border-radius: 5px;
        height: 10px;
        opacity: 0.2;
        width: 150px;
        z-index:-1;
    }

    &--absolute{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 95%;
    }

    &--green{
        color: $dkCyan;
    }

    &--blue{
        color: $blue;
    }
}

.learn{
    display:block !important;

    &--yellow::after{
        background-color: $yellow;
    }

    &--pink::after{
        background-color: $red;
    }
}


